p{
    font-size: 23px;
    color: blueviolet;

}
h1{
    column-gap: normal;
    font-family: cambria;
    color: aliceblue;
}
h2{
    font-family: Arial;
    font-size: 28px;
    color: darkslateblue;

}