*{
    font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     padding: 0;
}
body,html{
    background-color: lightgrey;
}
header{
    background-color: grey;

}
header>h1{
    padding: 10px;
    text-align: center;
}
#icone{
    background-color: rgb(51, 49, 49);
    text-align: center;
    display: block;
    padding: 10px;
    color: white;
    cursor: pointer;
}
#icone:hover{
    color: rgba(110, 128, 160, 0.733);

}
menu{
    display: none;
}
menu > ul{
    list-style-type: none;
    text-align: center;
    margin: auto;
}
a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(90, 88, 88);
    color: white;
    text-align: center;
    border-top: 2px solid rgba(128, 128, 128, 0.466);
}
a:hover{
    color: rgba(128, 128, 128, 0.671);
    transition: .3s;
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
article{
    padding-bottom: 10px;
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}