p{
   font-family: small;
   font-size: 13px;
    color: aliceblue;

}
h1{
    
    font-size: 18px;
    color: aliceblue;
}
h2{
    font-family: Arial;
    font-size: 16px;
    color: red;
}
small{
        font-size: 18px;
        color: blue;
}
    mark{
        
        font-size: 3x;

    }

    






